<div class="ui centered four doubling cards">
    <div class="ui pink card">
        <div class="image">
            <img src="https://semantic-ui.com/images/avatar/large/stevie.jpg" alt="">
        </div>
        <div class="content">
            <div class="header">女人</div>
            <div class="meta">
                <span>women</span>
                <div class="description">我是一个女人</div>
            </div>
        </div>
        <div class="extra content">
            <div class="left floated">
                <i class="like icon"></i>喜欢
            </div>
            <div class="right floated">
                <i class="user icon"></i>好友
            </div>
        </div>
    </div>
    <div class="ui pink card">
        <div class="image">
            <img src="https://semantic-ui.com/images/avatar/large/ade.jpg" alt="">
        </div>
        <div class="content">
            <div class="header">女人</div>
            <div class="meta">
                <span>women</span>
                <div class="description">我是一个女人</div>
            </div>
        </div>
        <div class="extra content">
            <div class="left floated">
                <i class="like icon"></i>喜欢
            </div>
            <div class="right floated">
                <i class="user icon"></i>好友
            </div>
        </div>
    </div>
    <div class="ui pink card">
        <div class="image">
            <img src="https://semantic-ui.com/images/avatar/large/stevie.jpg" alt="">
        </div>
        <div class="content">
            <div class="header">女人</div>
            <div class="meta">
                <span>women</span>
                <div class="description">我是一个女人</div>
            </div>
        </div>
        <div class="extra content">
            <div class="left floated">
                <i class="like icon"></i>喜欢
            </div>
            <div class="right floated">
                <i class="user icon"></i>好友
            </div>
        </div>
    </div>
    <div class="ui pink card">
        <div class="image">
            <img src="https://semantic-ui.com/images/avatar/large/ade.jpg" alt="">
        </div>
        <div class="content">
            <div class="header">女人</div>
            <div class="meta">
                <span>women</span>
                <div class="description">我是一个女人</div>
            </div>
        </div>
        <div class="extra content">
            <div class="left floated">
                <i class="like icon"></i>喜欢
            </div>
            <div class="right floated">
                <i class="user icon"></i>好友
            </div>
        </div>
    </div>
    <div class="ui pink card">
        <div class="image">
            <img src="https://semantic-ui.com/images/avatar/large/stevie.jpg" alt="">
        </div>
        <div class="content">
            <div class="header">女人</div>
            <div class="meta">
                <span>women</span>
                <div class="description">我是一个女人</div>
            </div>
        </div>
        <div class="extra content">
            <div class="left floated">
                <i class="like icon"></i>喜欢
            </div>
            <div class="right floated">
                <i class="user icon"></i>好友
            </div>
        </div>
    </div>
    <div class="ui pink card">
        <div class="image">
            <img src="https://semantic-ui.com/images/avatar/large/ade.jpg" alt="">
        </div>
        <div class="content">
            <div class="header">女人</div>
            <div class="meta">
                <span>women</span>
                <div class="description">我是一个女人</div>
            </div>
        </div>
        <div class="extra content">
            <div class="left floated">
                <i class="like icon"></i>喜欢
            </div>
            <div class="right floated">
                <i class="user icon"></i>好友
            </div>
        </div>
    </div>
    <div class="ui pink card">
        <div class="image">
            <img src="https://semantic-ui.com/images/avatar/large/stevie.jpg" alt="">
        </div>
        <div class="content">
            <div class="header">女人</div>
            <div class="meta">
                <span>women</span>
                <div class="description">我是一个女人</div>
            </div>
        </div>
        <div class="extra content">
            <div class="left floated">
                <i class="like icon"></i>喜欢
            </div>
            <div class="right floated">
                <i class="user icon"></i>好友
            </div>
        </div>
    </div>
    <div class="ui pink card">
        <div class="image">
            <img src="https://semantic-ui.com/images/avatar/large/ade.jpg" alt="">
        </div>
        <div class="content">
            <div class="header">女人</div>
            <div class="meta">
                <span>women</span>
                <div class="description">我是一个女人</div>
            </div>
        </div>
        <div class="extra content">
            <div class="left floated">
                <i class="like icon"></i>喜欢
            </div>
            <div class="right floated">
                <i class="user icon"></i>好友
            </div>
        </div>
    </div>
</div>
